@{
    ViewData["Title"] = "Terorist";
}

<section>
    
    <div class="panel panel-default panel-bg p-2">
        <div class="panel-header border-bottom">
              <div class="row">
                <div class="col-md-4 col-sm-6">
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control bg-transparent border-0 w-90 d-inline mt-2" name="search" placeholder="Search" value="" ; style="border:1px solid #fff !important; border-radius:20px;"/>
                </div>
                <div  class="col-md-4 col-sm-6">

                </div>
                <div class="col-md-2 col-sm-6">
                    <button type="button" class="btn btn-danger float-right mt-2 mb-2 btn-radius">Add New </button>
                </div>
                     <div class="col-md-2 col-sm-6">
                    <button type="button" class="btn btn-danger float-right mt-2 mb-2 btn-radius">Export to Excel</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
           <table id="DashboardTable" class="table border-none">
                <thead>
                    <tr class="bg_Brown border-radius" style="color:white !important">
                        <th>Terrorist ID</th>
                        <th>Nane/Alias</th>
                        <th>Affiliated Organization</th>
                        <th >Family & Facilator</th>
                        <th>Current Location</th>
                        <th>Recent Involvement</th>
                        <th> Activity Map</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>CBT</td>
                        <td>100</td>
                        <td>700</td>
                        <td>10</td>
                        <td>10</td>
                        <td> <button type="button" class="btn btn-danger  mt-2 mb-2 btn-radius">View  Map</button></td>
                        <td><i class="fa fa-edit"></i><i class="fa fa-view"></i><i class="fa fa-trashdotnet watch --project src/IFC"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>