@{
    ViewData["Title"] = " Threats";
}

<section>
   
    <div class="panel panel-default panel-bg p-2">
        <div class="panel-header border-bottom">
              <div class="row">
                <div class="col-md-4 col-sm-6">
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control bg-transparent border-0 w-90 d-inline mt-2" name="search" placeholder="Search" value="" ; style="border:1px solid #fff !important; border-radius:20px;"/>
                </div>
                <div  class="col-md-4 col-sm-6">

                </div>
                <div class="col-md-2 col-sm-6">
                    <button type="button" class="btn btn-danger float-right mt-2 mb-2 btn-radius " data-toggle="modal" data-target="#AddthreatModal">Add New Threats</button>
                </div>
                     <div class="col-md-2 col-sm-6">
                    <button type="button" class="btn btn-danger float-right mt-2 mb-2 btn-radius">Export to Excel</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="DashboardTable" class="table border-none">
                <thead>
                    <tr class="bg_Brown border-radius" style="color:white !important">
                        <th>Incident ID</th>
                        <th>Location</th>
                        <th >Target Win</th>
                        <th>Organization</th>
                        <th>Date</th>
                        <th>Suspect Name</th>
                        <th>Threat Level</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>CBT</td>
                        <td>100</td>
                        <td>700</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>

                            <button><i class="fa fa-edit"></i></button>
                            <button><i class="fa fa-eye"></i></button>
                            <button><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<div class=" Modalgeneralclass modal" id="AddthreatModal" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-md-12 text-center">
                    <div class="modal_header">
                        <h4 class="modal-title">ADD NEW CASES</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group row">
                            <div><label> ID.</label></div><br />
                            <div>
                                <input type="number" class="form-control" id="DemandNo" placeholder="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group row">
                            <div> <label> LOCATION</label></div><br />
                            <div>
                                <input type="number" class="form-control" id="DemandNo" placeholder="" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group row">
                            <div> <label> TARGET WING</label></div><br />
                            <div>
                                <input type="text" class="form-control" readonly id="Ava_item" placeholder="">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group row">
                            <div> <label> AFFILIATED ORGANIZATION</label></div><br />
                            <div>
                                <input type="text" class="form-control" id="Move_item" placeholder="">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group row">
                            <div> <label> SUSPECT</label></div><br />
                            <div>
                                <input type="text" class="form-control" id="Move_item" placeholder="">

                            </div>
                        </div>
                    </div>
               

                    <div class="col-md-6 col-sm-12 col-xs-12" id="todate">
                        <div class="form-group row">
                            <div> <label> Date</label></div><br />
                            <div>
                                <input class="form-control" type="date" id="to_date">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group row">
                            <div> <label> THREAT LEVEL</label></div><br />
                            <div>
                                <input type="text" class="form-control" id="Move_item" placeholder="">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-danger float-right mt-2 mb-2 btn-radius" id="BtnMove" onclick="AddMovement();" style="  margin-left:10px;">Send For Approval</button>
                        <button class="btn btn-danger float-right mt-2 mb-2 btn-radius" data-dismiss="modal">Cancel</button>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>