@using IFC.Application.DTOs.Threat
@model ThreatDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Threat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ThreatDate" class="control-label"></label>
                <input asp-for="ThreatDate" class="form-control" />
                <span asp-validation-for="ThreatDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThreatLevel" class="control-label"></label>
                <input asp-for="ThreatLevel" class="form-control" />
                <span asp-validation-for="ThreatLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDeleted" class="control-label"></label>
                <input asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wing" class="control-label"></label>
                <select asp-for="Wing" class="form-control" asp-items="ViewBag.WingId"></select>
                <span asp-validation-for="Wing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization" class="control-label"></label>
                <select asp-for="Organization" class="form-control" asp-items="ViewBag.OrganizationId"></select>
                <span asp-validation-for="Organization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuspectsProfile" class="control-label"></label>
                <select asp-for="SuspectsProfile" class="form-control" asp-items="ViewBag.SuspectsProfileId"></select>
                <span asp-validation-for="SuspectsProfile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incident" class="control-label"></label>
                <select asp-for="Incident" class="form-control" asp-items="ViewBag.IncidentId"></select>
                <span asp-validation-for="Incident" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <select asp-for="Location" class="form-control" asp-items="ViewBag.LocationId"></select>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
