<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FC South</title>
    <link href="~/admintheme/bootstrap4.1.0.min.css" rel="stylesheet" />
    <link href="~/admintheme/css/style.css" rel="stylesheet" />
    <script defer src="~/admintheme/scripts/solid.js"></script>
    <script defer src="~/admintheme/scripts/fontawesome.js"></script>

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <partial name="_Sidebar" />
        <div id="content">
            <partial name="_Navbar" />
            <div class="container-fluid body-content">
                @RenderBody()

            </div>
        </div>
    </div>
    <script src="~/admintheme/scripts/jquery-slim.min.js"></script>
    <script src="~/admintheme/scripts/Bootstrap4.1.0.js"></script>
    <script src="~/admintheme/scripts/Popper.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>
