<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IFC</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/IFC.styles.css" asp-append-version="true" />
    <link href="~/admintheme/bootstrap4.1.0.min.css" rel="stylesheet" />
    <link href="~/admintheme/css/style.css" rel="stylesheet" />
    <link href="~/admintheme/css/font-awesome.min.css" rel="stylesheet" />
    <script defer src="~/admintheme/scripts/solid.js"></script>
    <script defer src="admintheme/scripts/fontawesome.js"></script>
    <script src="~/admintheme/js/font-awesome.js"></script>
    <link href="~/content/build/css/custom.min.css" rel="stylesheet" />
    <link href="~/admintheme/css/sweetalert.css" rel="stylesheet" />
    <link href="~/admintheme/css/dataTable.css" rel="stylesheet" />
    <script src="~/admintheme/scripts/chartsjs.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/admintheme/scripts/jquery-slim.min.js"></script>
    <script src="~/admintheme/scripts/jquery-3.4.1.js"></script>
    <script src="~/admintheme/scripts/bootstrap4.1.0.js"></script>
    <script src="~/admintheme/scripts/popper.min.js"></script>
    <script src="~/admintheme/scripts/sweetalert-dev.js"></script>
    <script src="~/admintheme/scripts/dataTables.min.js"></script>

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <partial name="_Sidebar" />
        <!-- Page Content  -->
        <div id="content">
            <partial name="_Navbar" />
            <div class="container-fluid body-content">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - IFC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
