<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fa fa-align-left"></i>
        </button>
        <div>
            <h3 class="text-uppercase">@ViewBag.Title</h3>
        </div>

        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="margin-Top-Right">
                        <div class="margin-TopRight">
                            <span class="text-white">
                                Username
                            </span>
                            <br>
                            <span class="float-right">
                                Admin
                            </span>
                        </div>
                        <div>
                            <a href="javascript:;" class="user-profile p-0" data-toggle="dropdown"
                                aria-expanded="false">
                                <img src="~/Content/assets/Icons/profile.png" alt="">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>