@model IFC.Domain.Entities.Incident

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Incident</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IncidentDate" class="control-label"></label>
                <input asp-for="IncidentDate" class="form-control" />
                <span asp-validation-for="IncidentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuspectsProfileId" class="control-label"></label>
                <select asp-for="SuspectsProfileId" class="form-control" asp-items="ViewBag.SuspectsProfileId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationId" class="control-label"></label>
                <select asp-for="OrganizationId" class="form-control" asp-items="ViewBag.OrganizationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WingId" class="control-label"></label>
                <select asp-for="WingId" class="form-control" asp-items="ViewBag.WingId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
